$red : #D8230D;
$gray : #272728;
body {
	background: #EBEDEF;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: $gray;
	strong {
		font-weight: 700;
	}
}
.red, .error {
	color: $red;
}
.error {
	margin-top: 0.5em;
}
.success {
	margin-top: 0.5em;
	color: green;
}
.cl-effect-1 {
	&:before, &:after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}
	&:before {
		margin-right: 10px;
		content: '[';
		color: $red;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}

	&:after {
		margin-left: 10px;
		content: ']';
		color: $red;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after,
	&.active:before,
	&.active:after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}
.social-networks {
	li {
		border: 2px solid $gray;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: inline-block;
		margin-right: 0.5em;
		cursor: pointer;
		a {
			display: inline-block;
			width: 40px;
			height: 40px;
		}
		&.github {
			background: transparent url(../img/github.png) no-repeat 45% center / 60%;
			&:hover, &:focus, &:active {
				background: transparent url(../img/github-active.png) no-repeat 45% center / 60%;
			}
		}
		&.twitter {
			background: transparent url(../img/twitter.png) no-repeat center center / 60%;
			&:hover, &:focus, &:active {
				background: transparent url(../img/twitter-active.png) no-repeat center center / 60%;
			}
		}
		&.linkedin {
			background: transparent url(../img/linkedin.png) no-repeat center center / 60%;
			&:hover, &:focus, &:active {
				background: transparent url(../img/linkedin-active.png) no-repeat center center / 60%;
			}
		}
	}
}
h2 {
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	width: 15%;
	margin: 0 auto;
	margin-bottom: 2em;
	padding: 1em 0 0.5em 0;
}
nav {
	width: 90%;
	margin: 0 auto;
	height: 70px;
	position: relative;
	top: 0;
	left: 0;
	padding: 0.5em 0.5em 0 1em;
	color: $gray;
	img, p, ul {
		display: inline-block;
	}
	p {
		&.site-name {
			font-size: 24px;
			img {
				border-radius: 50%;
				border: 2px solid $gray;
				height: 50px;
				vertical-align: middle;
				margin-right: 1em;
			}
		}
	}
	ul {
		position: absolute;
		right: 0;
		top: 30%;
		li {
			text-transform: uppercase;
			font-size: 18px;
			height: 25px;
			display: inline-block;
			margin-right: 1em;
			cursor: pointer;
			a {
				color: $gray;
				text-decoration: none;
				&.active, &:hover {
					color: $red;
					font-weight: bold;
				}
			}
			// &.active, &:hover {
			// 	// border-bottom: 2px solid $red;
			// 	a {
			// 		color: $red;
			// 		font-weight: bold;
			// 	}
			// }
		}
	}
}

#home {
	height:100vh;
	position: relative;
	strong {
		color: $red;
	}
	.social {
		position: absolute;
		top: 0;
		right: 5%;
	}
	.content {
		position: absolute;
		top: 30%;
		left: 5%;
		font-size: 25px;
		.contact-me {
			display: inline-block;
			margin-top: 1em;
			cursor: pointer;
			width: 28%;
			text-transform: uppercase;
			background: #35383F;
			a {
				text-decoration: none;
				color: white;
				font-size: 18px;
				margin-left: 0.5em;
				vertical-align: middle;
			}
			.pen {
				display: inline-block;
				background: #d8230d url(../img/pen.png) no-repeat 60% 40% / 50%;
				width: 40px;
				height: 40px;
				vertical-align: middle;
			}
			&:hover, &:active, &:focus {
				.pen {
					background: #d8230d url(../img/pen-active.png) no-repeat 60% 40% / 50%;
				}
			}
		}
	}
	.down {
		position: absolute;
		bottom: 100px;
		left: 50%;
		margin-left: -32px;
		width: 64px;
		height: 64px;
		border: 2px solid black;
		border-radius: 50%;
		padding: 0.4em;
		cursor: pointer;
		-webkit-background-clip: padding-box !important;
		background-clip: padding-box !important;
		background: transparent url(../img/down-arrow.png) no-repeat center center / 60%;
		&:hover, &:active, &:focus {
			background: transparent url(../img/down-arrow-active.png) no-repeat center center / 60%;
		}
	}
}

#works {
	// height:100vh;
	// background: #27271f;
	color: $gray;
	h2 {
		border-bottom: 4px solid $gray;
	}
	ul {
		width: 90%;
		margin: 0 auto;
		li {
			display: block;
			width: 32%;
			text-align: center;
			margin-bottom: 6em;
			&.work {
				position: relative;
				list-style: none;
				text-align: justify;
				.tags {
					margin-top: 0.7em;
					font-size: 12px;
					text-align: center;
					span {
						color: #F6F6F6;
						border: 1px solid $gray;
						padding: 0.1em 0.3em;
						color: $gray;
						margin-right: 1em;
						&.hide {
							opacity: 0;
						}
					}
				}
				.description {
					text-align: justify;
					margin-top: 1em;
					vertical-align: top;
					font-size: 14px;
					.title {
						text-align: center;
						display: block;
						font-size: 16px;
						font-weight: bold;
					}
				}
				figure {
					position: relative;
					overflow: hidden;
					min-width: 320px;
					max-width: 480px;
					max-height: 360px;
					border: 2px solid $gray;
					text-align: center;
					cursor: pointer;
					img {
						position: relative;
						display: block;
						min-height: 100%;
						max-width: 100%;
						opacity: 0.8;
					}
					figcaption {
						padding: 2em;
						color: #fff;
						text-transform: uppercase;
						font-size: 1.25em;
						-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
						&:before, &:after {
							pointer-events: none;
						}
						& > a {
							z-index: 1000;
							text-indent: 200%;
							white-space: nowrap;
							font-size: 0;
							opacity: 0;
						}
					}
					figcaption, figcaption > a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&.effect-sarah {
						img {
							opacity: 0.95;
							-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
							transition: opacity 0.35s, transform 0.35s;
							-webkit-transform: scale3d(1.05,1.05,1);
							transform: scale3d(1.05,1.05,1);

						}
						figcaption {
							// text-align: left;
							&:before {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: rgba(255,255,255,0.5);
								content: '';
								-webkit-transition: -webkit-transform 0.6s;
								transition: transform 0.6s;
								-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
								transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
							}
						}
						&:hover {
							img {
								-webkit-transform: scale3d(1,1,1);
								transform: scale3d(1,1,1);
							}
							figcaption::before {
								-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
								transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
							}
						}
					}
				}
				&:after {
					content: '';
					display: inline-block;
					width: 100%;
					height: 0;
					font-size:0;
					line-height:0;
				}
			}
		}
	}
	#filters {
		width: 40%;
		margin: 0 auto;
		border: 1px solid $gray;
		height: 40px;
		line-height: 2.5em;
		margin-bottom: 3em;
		a {
			width: 25%;
			height: 100%;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: $gray;
			padding: 0;
			&.active, &:active, &:focus, &:hover {
				font-weight: bold;
				color: $red;
			}
			&:not(:first-child){
				margin-left: -4px;
			}
			&:not(:last-child) {
				border-right: 1px solid $gray;
			}
		}
	}
}
#about {
	background: url(../img/gray-back.png);
	h2 {
		border-bottom: 4px solid white;
		color: white;
		margin-bottom: 1em;
	}
	.content {
		width: 70%;
		margin: 0 auto;
		padding-bottom: 2em;
		.row {
			display: inline-block;
			vertical-align: top;
			padding: 0.5em;
			text-align: justify;
			color: white;
			width: 49%;
			.talks, .meetups {
				div {
					height: 200px;
					width: 200px;
					margin: 0 auto;
					background: white;
					border-radius: 50%;
					border: 5px solid #4a4a4a;
					-webkit-background-clip: padding-box !important;
					background-clip: padding-box !important;
					color: $gray;
					text-transform: uppercase;
					position: relative;
					.category, .short-desc {
						position: relative;
						top: 45%;
						display: block;
						margin: 0 auto;
					}
					.category {
						width: 70%;
						text-align: center;
						padding-bottom: 0.3em;
						border-bottom: 1px dotted $gray;
					}
					.short-desc {
						font-size: 12px;
						text-transform: initial;
						text-align: center;
						width: 70%;
						margin-top: 0.5em;
						color: #BFC0C5;
					}
				}
				div + p {
					margin-top: 2em;
				}
			}
			.talks {
				div{
					background: white url(../img/talks.png) no-repeat center 20% / 25%;
				}
				p:last-child {
					display: block;
				}
			}
			.meetups {
				div{
					background: white url(../img/ppl.png) no-repeat center 20% / 25%;
				}
				p:last-child {
					display: block;
				}
			}
		}
	}
}
#contact {
	background: $gray;
	color: white;
	text-align: center;
	padding-bottom: 3em;
	a{
		color: $red;
		text-decoration: none;
	}
	h2 {
		border-bottom: 4px solid white;
	}
	.form {
		width: 80%;
		margin: 0 auto;
		form {
			width: 30%;
			margin: 0 auto;
			margin-top: 2em;
			text-align: center;
		}
		input[type='text'], input[type='email'], textarea, label {
			display: block;
			width: 100%;
			height: 30px;
			border: 2px solid #4a4a4a;
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
		}
		textarea {
			height: 130px;
		}
		label{
			text-transform: uppercase;
			text-align: left;
			border: none;
		}
		.unhappyMessage {
			color: $red;
			display: block;
			// position: relative;
			// top: -23px;
			// left: 0;
			margin-bottom: 0.5em;
		}
		button {
			border-style: none;
			display: inline-block;
			margin-top: 1em;
			padding: 0;
			cursor: pointer;
			width: 50%;
			text-transform: uppercase;
			background: #35383F;
			color: white;
			font-size: 17px;
			text-align: left;
			margin-top: 2em;
			.send {
				display: inline-block;
				background: #d8230d url(../img/send.png) no-repeat 50% 60% / 60%;
				width: 40px;
				height: 40px;
				vertical-align: middle;
				margin-right: 1.3em;
			}
			&:hover, &:active, &:focus {
				.send {
					background: #d8230d url(../img/send-active.png) no-repeat 50% 60% / 60%;
				}
			}
		}
	}
}
footer {
	height: 70px;
	div {
		display: inline-block;
		vertical-align: middle;
		padding: 1em;
		width: 49%;
		&.footer-right {
			text-align: right;
		}
		&.footer-left {
			a {
				color: $red;
				text-decoration: none;
				&:focus, &:active, &:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
