body {
  background: #EBEDEF;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #272728; }
  body strong {
    font-weight: 700; }

.red {
  color: #d8230d; }

.social-networks li {
  border: 2px solid #272728;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 0.5em;
  cursor: pointer; }
  .social-networks li a {
    display: inline-block;
    width: 40px;
    height: 40px; }
  .social-networks li.github {
    background: transparent url(../img/github.png) no-repeat 45% center/60%; }
    .social-networks li.github:hover, .social-networks li.github:focus, .social-networks li.github:active {
      background: transparent url(../img/github-active.png) no-repeat 45% center/60%; }
  .social-networks li.twitter {
    background: transparent url(../img/twitter.png) no-repeat center center/60%; }
    .social-networks li.twitter:hover, .social-networks li.twitter:focus, .social-networks li.twitter:active {
      background: transparent url(../img/twitter-active.png) no-repeat center center/60%; }
  .social-networks li.linkedin {
    background: transparent url(../img/linkedin.png) no-repeat center center/60%; }
    .social-networks li.linkedin:hover, .social-networks li.linkedin:focus, .social-networks li.linkedin:active {
      background: transparent url(../img/linkedin-active.png) no-repeat center center/60%; }

h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em 0 0.5em 0; }

nav {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 0 1em;
  color: #272728; }
  nav img, nav p, nav ul {
    display: inline-block; }
  nav p.site-name {
    font-size: 24px; }
    nav p.site-name img {
      border-radius: 50%;
      border: 2px solid #272728;
      height: 50px;
      vertical-align: middle;
      margin-right: 1em; }
  nav ul {
    position: absolute;
    right: 0;
    top: 30%; }
    nav ul li {
      text-transform: uppercase;
      font-size: 18px;
      height: 25px;
      display: inline-block;
      margin-right: 1em;
      cursor: pointer; }
      nav ul li a {
        color: #272728;
        text-decoration: none; }
        nav ul li a:before, nav ul li a:after {
          display: inline-block;
          opacity: 0;
          -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
          -moz-transition: -moz-transform 0.3s, opacity 0.2s;
          transition: transform 0.3s, opacity 0.2s; }
        nav ul li a:before {
          margin-right: 10px;
          content: '[';
          color: #d8230d;
          -webkit-transform: translateX(20px);
          -moz-transform: translateX(20px);
          transform: translateX(20px); }
        nav ul li a:after {
          margin-left: 10px;
          content: ']';
          color: #d8230d;
          -webkit-transform: translateX(-20px);
          -moz-transform: translateX(-20px);
          transform: translateX(-20px); }
        nav ul li a:hover:before, nav ul li a:hover:after, nav ul li a:focus:before, nav ul li a:focus:after, nav ul li a.active:before, nav ul li a.active:after {
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px); }
        nav ul li a.active, nav ul li a:hover {
          color: #d8230d;
          font-weight: bold; }

#home {
  height: 100vh;
  position: relative; }
  #home strong {
    color: #d8230d; }
  #home .social {
    position: absolute;
    top: 0;
    right: 5%; }
  #home .content {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 25px; }
    #home .content .contact-me {
      display: inline-block;
      margin-top: 1em;
      cursor: pointer;
      width: 28%;
      text-transform: uppercase;
      background: #35383F; }
      #home .content .contact-me a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin-left: 0.5em;
        vertical-align: middle; }
      #home .content .contact-me .pen {
        display: inline-block;
        background: #d8230d url(../img/pen.png) no-repeat 60% 40%/50%;
        width: 40px;
        height: 40px;
        vertical-align: middle; }
      #home .content .contact-me:hover .pen, #home .content .contact-me:active .pen, #home .content .contact-me:focus .pen {
        background: #d8230d url(../img/pen-active.png) no-repeat 60% 40%/50%; }
  #home .down {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.4em;
    cursor: pointer;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    background: transparent url(../img/down-arrow.png) no-repeat center center/60%; }
    #home .down:hover, #home .down:active, #home .down:focus {
      background: transparent url(../img/down-arrow-active.png) no-repeat center center/60%; }

#works {
  color: #272728; }
  #works h2 {
    border-bottom: 4px solid #272728; }
  #works ul {
    width: 80%;
    margin: 0 auto; }
    #works ul li {
      display: block;
      width: 45%;
      text-align: center;
      margin-bottom: 3em; }
      #works ul li.work {
        position: relative;
        max-width: 400px;
        list-style: none;
        text-align: center; }
        #works ul li.work .description {
          text-align: justify;
          margin-top: 1em; }
        #works ul li.work figure {
          position: relative;
          overflow: hidden;
          min-width: 320px;
          max-width: 480px;
          max-height: 360px;
          border: 2px solid #272728;
          text-align: center;
          cursor: pointer; }
          #works ul li.work figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8; }
          #works ul li.work figure figcaption {
            padding: 2em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
            #works ul li.work figure figcaption:before, #works ul li.work figure figcaption:after {
              pointer-events: none; }
            #works ul li.work figure figcaption > a {
              z-index: 1000;
              text-indent: 200%;
              white-space: nowrap;
              font-size: 0;
              opacity: 0; }
          #works ul li.work figure figcaption, #works ul li.work figure figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
          #works ul li.work figure.effect-sarah {
            background: #d8230d; }
            #works ul li.work figure.effect-sarah img {
              opacity: 0.95;
              -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
              transition: opacity 0.35s, transform 0.35s;
              -webkit-transform: scale3d(1.05, 1.05, 1);
              transform: scale3d(1.05, 1.05, 1); }
            #works ul li.work figure.effect-sarah figcaption:before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(255, 255, 255, 0.5);
              content: '';
              -webkit-transition: -webkit-transform 0.6s;
              transition: transform 0.6s;
              -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
              transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
            #works ul li.work figure.effect-sarah:hover img {
              opacity: 0.9;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1); }
            #works ul li.work figure.effect-sarah:hover figcaption::before {
              -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
              transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }
  #works #filters {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #272728;
    height: 40px;
    line-height: 2.5em;
    margin-bottom: 3em; }
    #works #filters a {
      width: 25%;
      height: 100%;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #272728;
      padding: 0; }
      #works #filters a.active, #works #filters a:active, #works #filters a:focus, #works #filters a:hover {
        background: #272728;
        color: #d8230d; }
      #works #filters a:not(:first-child) {
        margin-left: -4px; }

#about {
  background: url(../img/gray-back.png); }
  #about h2 {
    border-bottom: 4px solid white;
    color: white;
    margin-bottom: 1em; }
  #about .content {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2em; }
    #about .content .row {
      display: inline-block;
      vertical-align: top;
      padding: 0.5em;
      text-align: justify;
      color: white;
      width: 49%; }
      #about .content .row .talks div, #about .content .row .meetups div {
        height: 200px;
        width: 200px;
        margin: 0 auto;
        background: white;
        border-radius: 50%;
        border: 5px solid #4a4a4a;
        -webkit-background-clip: padding-box !important;
        background-clip: padding-box !important;
        color: #272728;
        text-transform: uppercase;
        position: relative; }
        #about .content .row .talks div .category, #about .content .row .talks div .short-desc, #about .content .row .meetups div .category, #about .content .row .meetups div .short-desc {
          position: relative;
          top: 45%;
          display: block;
          margin: 0 auto; }
        #about .content .row .talks div .category, #about .content .row .meetups div .category {
          width: 70%;
          text-align: center;
          padding-bottom: 0.3em;
          border-bottom: 1px dotted #272728; }
        #about .content .row .talks div .short-desc, #about .content .row .meetups div .short-desc {
          font-size: 12px;
          text-transform: initial;
          text-align: center;
          width: 70%;
          margin-top: 0.5em;
          color: #BFC0C5; }
      #about .content .row .talks div + p, #about .content .row .meetups div + p {
        margin-top: 2em; }
      #about .content .row .talks div {
        background: white url(../img/talks.png) no-repeat center 20%/25%; }
      #about .content .row .talks p:last-child {
        display: block; }
      #about .content .row .meetups div {
        background: white url(../img/ppl.png) no-repeat center 20%/25%; }
      #about .content .row .meetups p:last-child {
        display: block; }

#contact {
  background: #272728;
  color: white;
  text-align: center;
  padding-bottom: 3em; }
  #contact a {
    color: #d8230d;
    text-decoration: none; }
  #contact h2 {
    border-bottom: 4px solid white; }
  #contact .form {
    width: 80%;
    margin: 0 auto; }
    #contact .form form {
      width: 30%;
      margin: 0 auto;
      margin-top: 2em;
      text-align: center; }
    #contact .form input[type='text'], #contact .form input[type='email'], #contact .form textarea, #contact .form label {
      display: block;
      width: 100%;
      height: 30px;
      border: 2px solid #4a4a4a; }
    #contact .form label {
      text-transform: uppercase;
      text-align: left;
      border: none; }
    #contact .form .unhappyMessage {
      color: #d8230d;
      display: block;
      margin-bottom: 0.5em; }
    #contact .form button {
      border-style: none;
      display: inline-block;
      margin-top: 1em;
      padding: 0;
      cursor: pointer;
      width: 50%;
      text-transform: uppercase;
      background: #35383F;
      color: white;
      font-size: 17px;
      text-align: left;
      margin-top: 2em; }
      #contact .form button .send {
        display: inline-block;
        background: #d8230d url(../img/send.png) no-repeat 50% 60%/60%;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 1.3em; }
      #contact .form button:hover .send, #contact .form button:active .send, #contact .form button:focus .send {
        background: #d8230d url(../img/send-active.png) no-repeat 50% 60%/60%; }

footer {
  height: 70px; }
  footer div {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    width: 49%; }
    footer div.footer-right {
      text-align: right; }
    footer div.footer-left a {
      color: #d8230d;
      text-decoration: none; }
      footer div.footer-left a:focus, footer div.footer-left a:active, footer div.footer-left a:hover {
        text-decoration: underline; }
